# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Data and Logs
data/processed/
logs/
*.sqlite
*.db
*.zip
*.parquet
*.tsv
*.json
!QA/configs/*.json
ml_models/models/saved_models/return_regressor_extratrees.joblib

# IDEs
.vscode/
.idea/

# CatBoost
catboost_info/

# OS
.DS_Store
Thumbs.db
